-# in app/views/movies/show.html.haml

-#%h2 Details about #{@movie.title}

-#%ul#details
-#  %li
-#    Rating:
-#    = @movie.rating
-#  %li
-#    Released on:
-#    = @movie.release_date.strftime("%B %d, %Y")

-#%h3 Description:

-#%p#description= @movie.description

-#= link_to 'Edit', edit_movie_path(@movie)
-#= button_to 'Delete', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?'
-#= link_to 'Back to movie list', movies_path


%rss{ :version => '2.0'} 
    
  %channel 
      
    %item 
        
      %title The Adventures of Tintin 7.5
      %link http://ca.isohunt.com/download/352556893/The+Adventures+of+Tintin.torrent 
      %category{ :domain => 'http://eztv.it/shows/40/californication/'} DVD
      %pubDate Sun, 23 Jan 2011 20:57:42 -0500
      %description DVD: The Adventures of Tintin
      %enclosure
      %torrent{ :xmlns => 'http://xmlns.ezrss.it/0.1/'} 
          
        %fileName The+Adventures+of+Tintin.torrent