-#  This file is app/views/movies/index.html.haml
%h1 All Photos

  
%table#photos
  %tbody
    - @photos.each do |photo|
      %tr
        %td= best_in_place photo, :title, :path => [:admin,photo]          
        %td= best_in_place photo, :ordering, :path => [:admin,photo]
        %td= image_tag photo.imagefile_url(:thumb)
        %td= link_to "Edit this photo", edit_admin_photo_path(photo)