%head
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  %link{:href => "/assets/blog_style.css.scss", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
  %title Blog
%body
  %hgroup
    #albumname
      %h1 Blog    
  %blogsection#bgblog
    %blogarticle#blog.blog
      .customScrollBox
        .container
          .content
            = render 'form'
            = link_to 'Back', posts_path
            .border
        .dragger_container
          .dragger
        %a.scrollUpBtn{:href => "#"}
        %a.scrollDownBtn{:href => "#"}