$("#mysession").html('To send a message, login via facebook <a href="/users/auth/facebook"><img alt="Facebook_32" src="/assets/facebook_32.png" /></a>or via google <a href="/users/auth/google"><img alt="Google_32" src="/assets/google_32.png" /></a>');
$("#notice").html("<%= notice %>");
